
<ion-header>
  <ion-toolbar id="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo ">
  <ion-list class="list" >
    <img class="img" (click)="openModal()" src="{{icon}}">
    <ion-item item-right class="mainItems" lines="none">
      <ion-label position="stacked"> Title</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item class="mainItems" lines="none">
      <ion-label position="stacked">Username</ion-label>
      <ion-input  [(ngModel)]="username" placeholder=""></ion-input>
    </ion-item>
    <ion-item class="inputItem" lines="none">
       <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item class="inputItem" lines="none">
      <ion-label position="stacked">Link</ion-label>
      <ion-input [(ngModel)]="link" ></ion-input>
    </ion-item>
    <ion-item class="inputItem"lines="none">
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea [(ngModel)]="description"></ion-textarea>
    </ion-item>
    <ion-item class="inputItem">
      <ion-label>Type</ion-label>
    <ion-select id="customTypeSelec" [(ngModel)]="type" placeholder="Select" interface="popover">
      <ion-select-option value="0">Social</ion-select-option>
      <ion-select-option value="1">Mail</ion-select-option>
      <ion-select-option value="2">Work</ion-select-option>
      <ion-select-option value="3">Extra</ion-select-option>
    </ion-select>
    </ion-item>
  </ion-list>
  <ion-button  class="save" expand="block" (click)="anadirPass()" color="secondary" shape="round">Save</ion-button>
</ion-content>
