
#header{
    --background: #bb64bb;
    font-family: Bahnschrift Condensed;
    color:white;
}
.list{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;  
}
.img{
    margin-top: 5px;
    position: absolute;
    width: 5em;   
}
    
.mainItems{
    border: 2px solid #bb64bb;
   // width: 63%;
    height: 3em;
    margin-left: 6em;
    border-radius: 30px;
    margin-bottom: 5px;
}
.inputItem{
   // border: 1.5px solid  #949494;
    border: 2px solid  #bb64bb;
    border-radius: 30px;
    margin-bottom: 5px;
    padding-right: 0px;
}

.save{
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
