#header{
    --background: #bb64bb;
    font-family: Bahnschrift Condensed;
    color:white;
}
.list{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    
    
}
.img{
    margin-top: 5px;
    position: absolute;
    width: 5em;   
}
    
.mainItems{
    border: 1.5px solid #949494;
   // width: 63%;
    height: 3em;
    margin-left: 6em;
    border-radius: 6px;
    margin-bottom: 5px;
}
.inputItem{
    border: 1.5px solid  #949494;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-right: 0px;
}

.save{
    height: 40px;
    width: 90px;
    margin-left: 15px;
    
}
.can{
    height: 40px;
    width: 90px;
    margin-left: 86px;
}