<ion-header>
  <ion-toolbar id="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="fondo ">
  <ion-list class="list" >
    <img class="img" (click)="openModal()" src="{{icon}}">
    <ion-item item-right class="mainItems" >
      <ion-label  position="floating"> Title</ion-label>
      <ion-input clearInput="clear-input" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item class="mainItems" >
      <ion-label position="floating">Username</ion-label>
      <ion-input clearInput="clear-input" [(ngModel)]="username" ></ion-input>
    </ion-item>
    <ion-item class="inputItem" >
      <ion-label position="floating">Password</ion-label>
      <ion-input clearInput="clear-input" [(ngModel)]="password"></ion-input>
      <ion-icon class="icon" name="refresh" slot="end" (click)="generatePass()"></ion-icon>
    </ion-item>
    <ion-item class="inputItem" >
      <ion-label position="floating">Link</ion-label>
      <ion-input clearInput="clear-input" [(ngModel)]="link" ></ion-input>
    </ion-item>
    <ion-item class="inputItem">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea  [(ngModel)]="description"></ion-textarea>
    </ion-item>
    <ion-item class="inputItem">
      <ion-label>Type</ion-label>
    <ion-select id="customTypeSelec" [(ngModel)]="type" placeholder="Select" interface="popover">
      <ion-select-option value="0">Social</ion-select-option>
      <ion-select-option value="1">Mail</ion-select-option>
      <ion-select-option value="2">Work</ion-select-option>
      <ion-select-option value="3">Extra</ion-select-option>
    </ion-select>
    </ion-item>
  </ion-list>
  <ion-button  class="save" expand="block" (click)="anadirPass()" color="secondary" >Save</ion-button>
</ion-content>
