
<ion-header>
  <ion-toolbar id="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons right>
      <ion-title>{{password.title}}</ion-title>
      <ion-button fill="clear" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-list class="list">
    <ion-item class="inputItem">
      <ion-label position="stacked">Username</ion-label>
      <ion-input readonly="true" [(ngModel)]="username">{{password.username}}</ion-input>
    </ion-item>
    <ion-item class="inputItem">
      <ion-label  position="stacked">Password</ion-label>
      <ion-input  name="password" [type]="showPassword ? 'text' : 'password'" value="{{password.password}}"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <ion-item class="inputItem">
      <ion-label position="stacked">Link</ion-label>
      <ion-input readonly="true" [(ngModel)]="link"><a href="{{password.link}}" target="_blank">{{password.link}}</a></ion-input>
    </ion-item>
    <ion-item class="inputItem">
      <ion-label position="stacked">description</ion-label>
      <ion-input readonly="true" [(ngModel)]="description">{{password.description}}</ion-input>
    </ion-item>
  </ion-list>
  <ion-button  class="edit" color="secondary" (click)="anadirPass()" expand="block">Edit</ion-button>
</ion-content>
