
<ion-header>
  <ion-toolbar id="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <ion-item class="title">
      <ion-label position="floating">Title : {{password.title}}</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item class="user">
      <ion-label position="floating">Username  : {{password.username}}</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item class="pass">
      <ion-label position="floating">Password  : {{password.password}}</ion-label>
      <ion-input [(ngModel)]="pass"></ion-input>
    </ion-item>
    <ion-item class="link">
      <ion-label position="floating">Link  : {{password.link}}</ion-label>
      <ion-input [(ngModel)]="link"></ion-input>
    </ion-item>
    <ion-item class="descrip">
      <ion-label position="floating">Description  : {{password.description}}</ion-label>
      <ion-textarea [(ngModel)]="description"></ion-textarea>
    </ion-item>
  </ion-list>
  <div>
    <ion-button  class="save" (click)="anadirPass()" color="success">Save</ion-button>
    <ion-button  class="can" (click)="Delete()" color="danger">Delete</ion-button>
  </div>
</ion-content>
