
<ion-header>
  <ion-toolbar id="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-list class="list">
    <img class="img" (click)="openModal()" src="{{password.icon}}">
    <ion-item item-right class="mainItems">
      <ion-input [(ngModel)]="title" placeholder="{{password.title}}"></ion-input>
    </ion-item>
    <ion-item class="mainItems">
      <ion-input [(ngModel)]="username" placeholder="{{password.username}}"></ion-input>
    </ion-item>
    <ion-item class="inputItem">
      <ion-input [(ngModel)]="pass" placeholder="{{password.password}}"></ion-input>
    </ion-item>
    <ion-item class="inputItem">
      <ion-input [(ngModel)]="link" placeholder="{{password.link}}"></ion-input>
    </ion-item>
    <ion-item class="inputItem">
      <ion-textarea [(ngModel)]="description" placeholder="{{password.description}}"></ion-textarea>
    </ion-item>
    <ion-item class="inputItem">
      <ion-label>Type</ion-label>
    <ion-select id="customTypeSelec" [(ngModel)]="type" placeholder="{{text}}" interface="popover">
      <ion-select-option value="0">Social</ion-select-option>
      <ion-select-option value="1">Mail</ion-select-option>
      <ion-select-option value="2">Work</ion-select-option>
      <ion-select-option value="3">Extra</ion-select-option>
    </ion-select>
    </ion-item>
  </ion-list>
  <ion-button  class="can" (click)="Delete()" color="secondary" fill="outline" shape="round">Delete</ion-button>
</ion-content>
