#header{
    --background: #bb64bb;
    font-family: Bahnschrift Condensed;
    color:white;
}

#back{
    color:white;
}

.text{
    text-align: center;
    color: #bb64bb;
    font-size: 1.6em;
    font-family: Bahnschrift Condensed;
    margin-top: 15px;
}
.email{
    margin-bottom: 20px;
}
//botton
.btn{
    box-sizing: content-box;
    
}