//logo
.logo{
    padding-top: 25px;
    padding-left: 65px;
}
//text de sign in
.header{
    padding-left: 38%;
    font-size: 1.3em;
    color: #bb64bb;
    margin-bottom: 10px;
}
.list{
    padding-left: 15px;
    padding-right: 20px;
    size: 20px;
    
}
.name{
    border: 2px solid #bb64bb;
    border-radius: 25px;
    margin-bottom: 5px;
}
.email{
    border: 2px solid #bb64bb;
    border-radius: 25px;
    margin-bottom: 5px;
}
.pass{
    border: 2px solid #bb64bb;
    border-radius: 25px;
    margin-bottom: 5px;
}
.telefon{
    border: 2px solid #bb64bb;
    border-radius: 25px;
    margin-bottom: 5px;
}
.btn{
    margin: 15px;
}

