<ion-header>
  <ion-toolbar>
    <ion-title>registrar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
   </ion-back-button>
   </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <img class="logo" src="../../assets/6.png "/>
  
  <ion-list class="list">
    <ion-list-header class="header">
      Sign up
    </ion-list-header>
    <ion-item class="name"> 
      <ion-input clearInput placeholder="name" [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item class="email">
      <ion-input  clearInput placeholder="email" [(ngModel)]="email"  type="email"></ion-input>
    </ion-item>
    <ion-item class="pass">
      <ion-input  clearInput placeholder="password" [(ngModel)]="pass" type="password"></ion-input>
    </ion-item>
    <ion-item class="telefon">
      <ion-input clearInput placeholder="telephone" [(ngModel)]="telephone" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button  class="btn" expand="block" shape="round"  (click)="signup()">Sign up</ion-button>
</ion-content>
