<ion-header>
  <ion-toolbar class="header">
    <ion-buttons right>
      <ion-title>Lista</ion-title>
      <ion-button fill="clear" routerLink="/home">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-item class="tarjeta" *ngFor="let pass of passwordList" (click)="thisPassword(pass)" >
    <ion-img class="icon"  src="{{pass.icon}}"></ion-img>
    {{pass.title}}
  </ion-item> 
  <ion-fab vertical="bottom"  horizontal="end" slot="fixed" (click)="create()">
    <ion-fab-button id="fab" size="large">
      <ion-icon style=" color: #000; " name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>