.icon{
    width: 4em;
    margin-right: 10px;
}

.fondo{
    --background: #bb64bb;
}

.tarjeta{
    --padding-start:5px;
    margin: 4px;
    font-size: 14px ;
    font-family: Bahnschrift Light;
    font-size: 1em;
}

.header{
    border-bottom: 4px solid white;
    --background: #bb64bb;
    font-family: Bahnschrift Condensed;
    color:white;
}
