.icon{
    width: 4em;
    margin-bottom:5px;
    margin-top: 5px;
    margin-right: 15px;;
}

.fondo{
    --background:#F5F5F6;
}
#fab  {
    --background:#bbbbbb;
}

.tarjeta{
    --padding-start:5px;
    margin: 4px;
    font-family: Bahnschrift Light;
    font-weight: bold;
    font-size: 1.1em;
    --background: #e1e2e1;
}

.header{
    border-bottom: 4px solid white;
    --background: #bb64bb;
    font-family: Bahnschrift Condensed;
    color:white;
}
