<ion-header>
  <ion-toolbar class="header">
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-item class="tarjeta" *ngFor="let pass of passwordList" (click)="thisPassword(pass)" >
    <ion-img class="icon"  src="../../assets/icon/{{pass.icon}}"></ion-img>
    {{pass.title}}
  </ion-item> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/addpass">
    <ion-fab-button color="light" size="small">
      <ion-icon style=" color: #000;"name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>