//color de cuadro

.card{
    background-color: #bb64bb;
    max-height: 385px;
}
//logo modification
.logo{
    padding-top: 20px;
    padding-left: 45px;
}
//sign in text
.text-signIn{
    text-align: center;
    color: white;
    font-size: 1.5em;
}
//campo de email
.list{border-radius: 25px;
} 
.mail {
   
    border-radius: 25px;
    margin-block: 5px;
    color:black;
}
//campo de password
.passw{
    border-radius: 25px;
    margin-bottom: 20px;
}
//botton
.forgot .icon{
    color: white;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 30px;
}
.forgot a{
    text-size-adjust: inherit;
    font-size: 1em;
    color: white;
}
//sign up button
.up{
    color: #bb64bb;
    font-size: 1.1em;
    margin-left: 95px;
} 