//header color
.header{
    --background: #bb64bb;
    font-family: Bahnschrift Condensed;
    color:white;
}
ion-card-header{
    padding-top: 10px;
    padding-bottom: 10px;
}
//logo modification
.logo{
    padding-top: 15px;
    padding-left: 60px;
}
//sign in text
.text-signIn{
    text-align: center;
    color:#bb64bb;
    font-size: 1.6em;
    font-family: Bahnschrift Condensed;
}

ion-label{
 font-weight: bolder; 
 font-size: medium; 

}
//campo de mail
.mail:active {
     margin-bottom: 5px;
     --border-color:blue;
 }
 //campo de password
 .passw{
     margin-bottom: 10px;
 }
 .forgot .icon{
    color:#bb64bb;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 50px;
}
.forgot a{
    text-size-adjust: inherit;
    font-size: 1em;
    color: #bb64bb;
}
//sign up button
.up{
    color: #bb64bb;
    font-size: 1.2em;
    margin-left: 95px;
    font-family: Bahnschrift Condensed;
} 
