<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SymPass
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card center class="card">
    <img class="logo" src="./../../../assets/5.png "/>
    <ion-card-header class="text-signIn">
      Sign in
    </ion-card-header>

    <ion-card-content>
      <ion-list class="list">
        <ion-item class="mail">
          <ion-input clearInput placeholder="email" [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
        <ion-item class="passw">
          <ion-input  clearInput type="password"  placeholder="password" [(ngModel)]="pass" ></ion-input>
        </ion-item>
      </ion-list>
      <div class="forgot">
        <ion-button expand="block" shape="round" color="light" (click)="checkAccount()">Sign in</ion-button>
        <ion-icon class="icon" name="lock-closed"></ion-icon>
        <a mat-button href="https://www.google.com/" target="_blank">forgot password?</a>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button class="up" fill="clear" routerLink="/registrar">Sign up</ion-button>
</ion-content>
