<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      SymPass
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card center class="card">
    <img class="logo" src="./../../../assets/5.png "/>
    <ion-card-header class="text-signIn">
      Sign in
    </ion-card-header>

    <ion-card-content >
        <ion-item class="mail" lines="none">
          <ion-input clearInput placeholder="email" [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
        <ion-item class="passw" lines="none">
          <ion-input  clearInput type="password"  placeholder="password" [(ngModel)]="pass" ></ion-input>
        </ion-item>
      <div class="forgot">
        <ion-button id="signIn" expand="block" shape="round"  (click)="checkAccount()">Sign in</ion-button>
        <ion-icon class="icon" name="lock-closed"></ion-icon>
        <a routerLink="/forgot">forgot password?</a>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button class="up" fill="clear" routerLink="/registrar">Sign up</ion-button>
</ion-content>
